<template>
  <div class="index">
    <h1>Hi I'm a the index</h1>
    <nuxt-link to="/panel">Panel</nuxt-link>
    <nuxt-link to="/other-page">Other</nuxt-link>
  </div>
</template>

<script>
export default {
  transition: {
    name: "index",
    mode: "in-out"
  }
};
</script>

<style scoped>
.index {
  width: 100vw;
  height: 100vh;
  background: #d94883;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
a {
  color: #fff;
}

.index-enter-active,
.index-leave-active {
  transition: opacity 350ms cubic-bezier(0.42, 0, 0.58, 1) 350ms;
}
.index-enter,
.index-leave-to {
  opacity: 1;
}
</style>
