<template>
  <div class="other">
    <h1>Oh hello there!</h1>
    <nuxt-link to="/">Home</nuxt-link>
    <nuxt-link to="/panel">Panel</nuxt-link>
  </div>
</template>
<script>
export default {
  transition: {
    name: "scale",
    mode: "in-out"
  }
};
</script>

<style scoped>
.other {
  width: 100vw;
  height: 100vh;
  background: #a44ad9;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
}
.scale-enter-active {
  animation: scaleUp 350ms cubic-bezier(0.42, 0, 0.58, 1);
}
.scale-leave-active {
  animation: scaleDown 350ms cubic-bezier(0.42, 0, 0.58, 1);
}

@keyframes scaleUp {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scaleDown {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
</style>
