<template>
  <div class="panel">
    <h1>Hi I'm a panel</h1>
    <nuxt-link to="/">Home</nuxt-link>
    <nuxt-link to="/other-page">Other</nuxt-link>
  </div>
</template>
<script>
export default {
  transition: {
    name: "panel",
    mode: "in-out"
  }
};
</script>

<style scoped>
.panel {
  width: 100vw;
  height: 100vh;
  background: #6dd38f;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
}
a {
  color: #fff;
}

.panel-enter-active {
  animation: slideUp 350ms cubic-bezier(0.42, 0, 0.58, 1);
}
.panel-leave-active {
  animation: slideDown 350ms cubic-bezier(0.42, 0, 0.58, 1);
}

@keyframes slideUp {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideDown {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 100%, 0);
  }
}
</style>
